<!DOCTYPE html>
<html>
    {{>header}}
    <body>
        {{>title}}
        <p>{{screamIt "Seznam Projektu"}}</p>
        <p>
        <ul>
          <li>Projekt 1</li>
          <li>Proejkt 2</li>
          <li>Proejkt 3</li>
        </ul>
        </p>

        {{>footer}}
    </body>
</html>